<div class="sidebar">    
</div>   
<div class="nav-icon">
    <div class="hamburger-bar"></div>
</div>
<div id="blackover-nav" class="blackover"></div>
<nav id="menu">
    <ul>
        <h3>Navigation</h3>
        <li><a href="{{ site.baseurl }}/">Despre noi</a></li>
        <!-- <li><a href="{{ site.baseurl }}/about">Despre noi</a></li> -->
        <li><a href="{{ site.baseurl }}/crafters">Meșterii populari</a></li>
        <li><a href="{{ site.baseurl }}/items">Lucrările meșterilor populari</a></li>
        <li><a href="{{ site.baseurl }}/craftersmap">Harta meșterilor populari</a></li>
        <li><a href="{{ site.baseurl }}/about">Proiectul CRAFTs4ED</a></li>
        <li><a href="{{ site.baseurl }}/parteneri">Parteneri <span class="badge badge-primary">new</span></a></li>
        <li><a href="{{ site.baseurl }}/contact">Contacte</a></li>
    </ul>   
</nav>

{% include search-lunr.html %}


