.page-crafter {

    .page-crafter-cotent {
        display: flex;
        gap: 0.5rem;
        .content {
            order: 0;
        }
        .picture{
            order: 1;
            width: 100%;

        }
    }
}